.app-navbar {
    background-color: #009cc4;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    > * {
        margin-right: 10px;
    }
}

#app-name {
    font-size: 25px;
}


.nav-button {
    font-size: 22;
    background-color: transparent;
    color: white;
    border: 0;
    align-self: center;
}